.main-wrapper {
  width: 100%;
  height: fit-content;
  min-height: calc(100% - 50px);
  box-sizing: border-box;
  background-image: url('/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: Helvetica;
  font-size: 16px;
  padding: 30px 10px 0 10px;

  input:focus {
    outline: none;
  }

  ::placeholder {
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    opacity: 1;
    /* Firefox */
  }

  .results-wrapper {
    width: fit-content;
    padding-top: 50px;
    margin: auto;

    .grid-container {
      display: inline-grid;
      grid-template-columns: repeat(5, 1fr);
    }
  }
}