.daily-weather {
  width: 100px;
  justify-self: center;
  text-align: center;
  border: 2px solid #ffffff;
  margin: 5px;
  border-radius: 10px;
  padding: 10px 5px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, .2);

  @media (max-width: 650px) {
    width: 70px;
    border: none;
  }

  .day-of-week {
    font-weight: bold;

    .date {
      font-size: 12px;
      text-transform: capitalize;
      font-weight: normal;
    }
  }

  .temp {
    @media (max-width: 650px) {
      .max-min {
        display: none;
      }
    }
  }

  .weather-icon {
    padding-top: 10px;

    @media (max-width: 650px) {
      width: 55px;
    }
  }
}

@media (max-width: 500px) {
  .daily-weather {

    width: 48px;
    border: none;
  }
}