.location-wrapper {
  width: 100px;
  justify-self: center;
  text-align: center;
  border: 2px solid #ffffff;
  margin: 5px;
  border-radius: 10px;
  padding: 10px 5px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  .location {
    font-weight: bold;
  }

  .country {
    font-weight: bold;
  }
}