.navbar-container {
  width: 100%;
  background-color: #333333;
  padding: 14px 0px;
  margin: 0;

  .nav-option {
    display: inline;
    list-style-type: none;
    line-height: 22px;
    background-color: #333333;
    cursor: pointer;
    padding: 10px 0px;

    a {
      padding: 10px;
      width: fit-content;
      text-decoration: none;
      color: #ffffff;
      text-transform: capitalize;

      &:hover {
        background-color: #111111;
        color: #ffffff;
        transition-duration: 0.5s;
      }
    }

    .set-units {
      text-transform: uppercase;
      font-size: 18;
      background-color: transparent;

      &.active {
        color: #ffffff;
        font-weight: bold;
      }

      &:hover {
        color: #ffffff;
        font-weight: bold;
      }
    }
  }


  .active {
    background-color: #111111;
    color: #ffffff;
  }
}