.search-wrapper {
  padding-left: calc(50vw - 450px);
  height: 32px;
  top: 10px;
  left: calc(50vw - 150px);

  @media (max-width: 700px) {
    padding-bottom: 10px;
  }

  .search-field {
    width: 300px;
    padding: 5px 6px;
    border: 0;
    border-radius: 20px;
    background: hsla(0, 0%, 100%, .2);
    text-align: center;
    line-height: 22px;
    font-size: 18px;
    box-sizing: border-box;
    color: #ffffff;
  }

  .search-icon {
    position: relative;
    top: -27px;
    left: 270px;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    transform: scaleX(-1);
    -webkit-mask-image: url(/icons/search.svg);
    mask-image: url(/icons/search.svg);
  }


  .autofill-container {
    background-color: #ffffff;
    border-radius: 6px;
    width: 300px;
    position: absolute;
    top: 45px;
    z-index: 10;

    @media (max-width: 700px) {
      top: 88px;
    }


    .autofill-option {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      width: 100%;
      border: none;
      text-align: left;
      background-color: #ffffff;
    }

    .autofill-option:first-child {
      border-radius: 6px 6px 0 0;
    }

    .autofill-option:last-child {
      border-radius: 0 0 6px 6px;
    }

    .autofill-option:hover {
      background-color: #ff9a6b;
      cursor: pointer;
    }
  }
}